<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" type="text/css" href="itemShow.css">
<meta charset="UTF-8">
<title>Topページ</title>
<style>
</style>

</head>
<body>
	<div class="niimi-header">
		<a href="/cart">カートへ</a>
		<!-- メニュー -->
		<nav class="wrapper">
	        <ul class="menu">
	          <li><a href="#">カテゴリ</a></li>
	          <li><a href="#">作れたら</a></li>
	          <li><a href="#">ここを</a></li>
	        </ul>
	    </nav>
	    
	    <form action="/search" method="post">
	    	<p><input type="text" name="searchWord"><input type="submit" value="検索"></p>
	    </form>
	</div>
    
    <div class="niimi-body" th:each="item:${items}">
    	<table border="1">
    		<tr>
    			<td rowspan="2" style="width: 16%">
    				<img style="width:100px;" th:src="|/${item.image}|" />
    			</td>
    			<td th:text="${item.name}"style="width: 35%"></td>
    			<td th:text="${item.price}"></td>
    		</tr>
    		<tr>
    			<td style="width: 40%">    			
 					<a th:href="|/cart/add/${item.id}|">カートに追加</a>
     			</td>
    			<td style="height: 50px">    			
 					<a th:href="|/item/detail/${item.id}|">もっと見る</a>
    			</td>
    		</tr>
    	</table>
    </div>
</body>
</html>