<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Topページ</title>

<script type="text/javascript" src="/js/common.js"></script>

<link rel="stylesheet" type="text/css" href="/css/common.css">
<link rel="stylesheet" type="text/css" href="/css/itemShow.css">

</head>
<body>
	<nav class="menuWrapper">
		<div class="hanbergar" onclick="click_hanbergar()"></div>
		
        <ul id="menu">
          <li><a href="/">管理者ページ</a></li>
          <li><a href="/">マイページ</a></li>
          <li><a href="/">ログアウト</a></li>
        </ul>
    </nav>

	<div class="niimi-header">
		<a href="/cart">カートへ</a>
		<!-- メニュー -->
	    
	    <form action="/search" method="post">
	    	<p><input type="text" name="searchWord"><input type="submit" value="検索"></p>
	    </form>
	</div>
    
    <div class="niimi-body" th:each="item:${items}">
    	<table>
    		<tr>
    			<td rowspan="2" style="width: 16%">
    				<img style="width:100px;" th:src="|/${item.image}|" />
    			</td>
    			<td th:text="${item.name}"style="width: 35%"></td>
    			<td th:text="${item.price}"></td>
    		</tr>
    		<tr>
    			<td style="width: 40%">    			
 					<a th:href="|/cart/add/${item.id}|">カートに追加</a>
     			</td>
    			<td style="height: 50px">    			
 					<a th:href="|/item/detail/${item.id}|">もっと見る</a>
    			</td>
    		</tr>
    	</table>
    </div>
    
    
</body>
</html>