@charset "UTF-8";


body{
	position: relative;
	width : 100%;
	padding-top: 200px;
	overflow-x: hidden;
}

.niimi-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 100%;
	max-height: 200px;
	z-index:1;
	margin: 0;
	padding: 5px 100px;
	background-color: #aaffaa;
}

.niimi-body{
	
	z-index:0;
	width: 90%;
	margin: auto;
}

.niimi-body > table{
	width: 100%;
	background-color: gray;
	height: 150px
}

/* メニュー表示 */

.menuWrapper{
	position: fixed;
	z-index:100;
	top: 0;
	left: 0;
}

.hanbergar{
	width: 70px;
	height: 70px;
	background-color: #fff;
	margin: 10px;
	border-radius: 50%;
	position: relative;
}

.hanbergar:hover{
	cursor: pointer;
	opacity: 0.7;
}

.hanbergar:before{
	position: absolute;
	content: "三";
	top: 7px;
	left: 15px;
	font-size: 40px;
}

.menuWrapper #menu{
	background-color: rgba(255,255,255,0.3);
	display: none;
}

.priceAndName{
	border-bottom: solid 2px #333333;
	font-size: 50px;
	text-align: center;
}


