<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>注文履歴</title>
</head>
<body>
	<h3>--------------注文履歴----------------------------------------------------</h3>
	<div class="niimi-body">
    	<table th:each="item:${items}">
    		<tr>
    			<td rowspan="2" style="width: 16%">
    				<img style="width:100px;" th:src="|/${item.img}|" />
    			</td>
    			<td th:text="|商品名：${item.itemname}|"style="width: 35%" class="priceAndName"></td>
    			<td th:text="|価格：${item.price} 円|"style="width: 35%" class="priceAndName"></td>
    		</tr>
    		<tr>
    		    <td th:text="|購入日時：${item.orderedDate}|" class="priceAndName"></td>
    		    <td th:text="|個数：${item.quantity} 個|"></td>
    		</tr>
    	</table>
    </div>
	
</body>
</html>