<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>注文履歴</title>
</head>
<body>
	<h3>--------------注文履歴----------------------------------------------------</h3>
	<div class="niimi-body">
		<div th:each="order:${items}">
			<span th:text="|ID：${order.value.orderId}|" class="priceAndName"></span>
			<span th:text="|購入日時：${order.value.orderedDate}|" class="priceAndName"></span>
			<span th:text="|合計金額：${order.value.totalPrice}|" class="priceAndName"></span>
	    	<table th:each="item:${order.value.orderhiss}">
	    		<tr>
	    			<td rowspan="2" style="width: 16%">
    				<img style="width:100px;" th:src="|/${item.img}|" />
	    			</td>
	    			<td th:text="|商品名：${item.itemname}|"style="width: 35%" class="priceAndName"></td>
	    			<td th:text="|価格：${item.price} 円|"style="width: 35%" class="priceAndName"></td>
	    		</tr>
	    		<tr>
	    		    <td ></td>
	    		    <td th:text="|個数：${item.quantity} 個|"></td>
	    		</tr>
	    	</table>
		</div>
    </div>
	
</body>
</html>