<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<script src="https://code.jquery.com/jquery-2.1.0.min.js" ></script>
<link rel="stylesheet" type="text/css" href="/css/login.css">
<script type="text/javascript" src="/js/login.js"></script>
</head>
<body>
<div id="formWrapper">

<div id="form">
<div class="logo">
<h1>Login</h1>
</svg>
</div>
	<form action="/login" method="post">

	    <div class="form-item">
	    
	    	<p class="formLabel">Email</p>
	    	<input type="email" name="email" id="email" class="form-style" autocomplete="off"/>
	    </div>
	    <div class="form-item">
	    	<p class="formLabel">Password</p>
	    	<input type="password" name="password" id="password" class="form-style" />
	    	<!-- <div class="pw-view"><i class="fa fa-eye"></i></div> -->
	    </div>
	    <div class="form-item">
		    <p class="pull-left"><a href="signup"><small>SignUP</small></a></p>
		    <input type="submit" class="login pull-right" value="Log In">
	    
	    	<div class="clear-fix"></div>
    	</div>
    </form>
</div>
</div>
</body>
</html>