<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
</head>
<body>
	<h3>Login</h3>
	<span th:text="${loginmessage}" style="color:red"></span>
	<span th:text="${nullmessage}" style="color:red"></span>
	<form action="/login" method="post">
		<p>E-mail<input type="text" name="email" placeholder="～～～@～.～.～"></p>
		<p>PassWord<input type="password" name="password" placeholder="正規条件表記"></p>
		<input type="submit" value="ログイン">
	</form>
	<hr>
	<a href="signup">アカウント新規登録</a>
</body>
</html>